.wrap_container {
  max-width: 1320px !important;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.trending_pet_products .left_card {
  background-image: url("./assets/cute-pet-small.png");
  background-size: 190px 300px;
  background-position: right bottom;
  background-repeat: no-repeat;
}
